{
"acl": {
    "enabled": true,
    "default_policy": "deny",
    "down_policy": "extend-cache",
    "enable_token_persistence": true,
    {% if data.primary != true %}
    "enable_token_replication": true,
    {% endif %}
    "enable_token_persistence": true,
    "tokens": {
        "agent": "{{data.agent_token}}"
        }
    }
}